In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
import pickle

In [5]:
df = pd.read_csv('BankChurners.csv')

In [6]:
print(df.columns)
df.head()

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [7]:
df.drop(columns=['CLIENTNUM', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], inplace=True)

In [8]:
df['Gender'] = df['Gender'].apply(lambda x: 1 if x == 'M' else 0)
df['Education_Level'] = df['Education_Level'].astype('category').cat.codes
df['Marital_Status'] = df['Marital_Status'].astype('category').cat.codes
df['Income_Category'] = df['Income_Category'].astype('category').cat.codes
df['Card_Category'] = df['Card_Category'].astype('category').cat.codes
df['Attrition_Flag'] = df['Attrition_Flag'].apply(lambda x: 1 if x == 'Attrited Customer' else 0)

In [9]:
x= df.drop(columns=['Attrition_Flag'])
y = df['Attrition_Flag']

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [11]:
x_train.head()

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
415,49,1,2,4,1,2,0,38,3,2,0,8077.0,1965,6112.0,0.637,1329,26,0.444,0.243
3749,61,0,0,3,2,5,0,51,4,2,2,8476.0,0,8476.0,0.675,3889,67,0.489,0.000
9295,27,1,0,0,3,3,3,19,1,1,3,34516.0,1131,33385.0,0.715,14716,112,0.750,0.033
8290,52,0,1,6,1,4,0,36,1,1,3,3040.0,2517,523.0,0.774,4608,61,1.033,0.828
7672,44,0,3,3,2,4,0,36,2,3,3,2228.0,0,2228.0,0.686,2523,45,0.607,0.000

In [12]:
clf = DecisionTreeClassifier(random_state=42)

In [13]:
clf.fit(x_train, y_train)

DecisionTreeClassifier(random_state=42)

In [14]:
y_pred = clf.predict(x_test)

In [19]:
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')
print('Classification Report:')
print(classification_report(y_test, y_pred))

Accuracy: 0.93
Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.96      0.96      2543
           1       0.79      0.79      0.79       496

    accuracy                           0.93      3039
   macro avg       0.87      0.87      0.87      3039
weighted avg       0.93      0.93      0.93      3039

In [20]:
with open('churn_model.pkl', 'wb') as f:
    pickle.dump(clf, f)

In [21]:
with open('churn_model.pkl', 'rb') as f:
    loaded_model = pickle.load(f)

In [22]:
y_pred_loaded = loaded_model.predict(x_test)
loaded_accuracy = accuracy_score(y_test, y_pred_loaded)
print(f'Loaded model accuracy: {loaded_accuracy:.2f}')

Loaded model accuracy: 0.93

In [23]:
# Prepare the input data with provided values
# input_data = pd.DataFrame({
#     'Customer_Age': [45],
#     'Gender': [1],  # Assuming 1 represents Male
#     'Dependent_count': [3],
#     'Education_Level': [3],  # Assuming 3 represents a specific education level
#     'Marital_Status': [1],  # Assuming 1 represents Married
#     'Income_Category': [2],  # Assuming 2 represents a specific income category
#     'Card_Category': [0],  # Assuming 0 represents a specific card category
#     'Months_on_book': [39],
#     'Total_Relationship_Count': [5],
#     'Months_Inactive_12_mon': [1],
#     'Contacts_Count_12_mon': [3],
#     'Credit_Limit': [12691.0],
#     'Total_Revolving_Bal': [777],
#     'Avg_Open_To_Buy': [11914.0],
#     'Total_Amt_Chng_Q4_Q1': [1.335],
#     'Total_Trans_Amt': [1144],
#     'Total_Trans_Ct': [42],
#     'Total_Ct_Chng_Q4_Q1': [1.625],
#     'Avg_Utilization_Ratio': [0.061]
# })

# 0,45,1,3,3,1,2,0,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061

data = [[45,1,3,3,1,2,0,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061]]
# Make a prediction
prediction = clf.predict(data)

# Print the prediction
print(f'Churn Prediction: {prediction[0]}')

Churn Prediction: 0

c:\Users\DARSHAN\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(