In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, classification_report
import pickle

In [21]:
df = pd.read_csv('BankChurners.csv')

In [25]:
print(df.columns)
df.head()

Index(['Customer_Age', 'Gender', 'Dependent_count', 'Education_Level',
       'Marital_Status', 'Income_Category', 'Card_Category', 'Months_on_book',
       'Credit_Limit'],
      dtype='object')

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Credit_Limit
0,45,1,3,3,1,2,0,39,12691.0
1,49,0,5,2,2,4,0,44,8256.0
2,51,1,3,2,1,3,0,36,3418.0
3,40,0,4,3,3,4,0,34,3313.0
4,40,1,3,5,1,2,0,21,4716.0

In [23]:
df.drop(columns=['CLIENTNUM', 'Attrition_Flag', 
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], inplace=True)

In [26]:
df['Gender'] = df['Gender'].apply(lambda x: 1 if x == 'M' else 0)
df['Education_Level'] = df['Education_Level'].astype('category').cat.codes
df['Marital_Status'] = df['Marital_Status'].astype('category').cat.codes
df['Income_Category'] = df['Income_Category'].astype('category').cat.codes
df['Card_Category'] = df['Card_Category'].astype('category').cat.codes

In [27]:
x= df.drop(columns=['Credit_Limit'])
y = df['Credit_Limit']

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [29]:
x_train.head()

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book
415,49,0,2,4,1,2,0,38
3749,61,0,0,3,2,5,0,51
9295,27,0,0,0,3,3,3,19
8290,52,0,1,6,1,4,0,36
7672,44,0,3,3,2,4,0,36

In [30]:
clf = LinearRegression()

In [31]:
clf.fit(x_train, y_train)

LinearRegression()

In [32]:
y_pred = clf.predict(x_test)

In [34]:
with open('model.pkl', 'wb') as f:
    pickle.dump(clf, f)

In [35]:
with open('model.pkl', 'rb') as f:
    loaded_model = pickle.load(f)

In [37]:
y_pred_loaded = loaded_model.predict(x_test)

In [46]:
# Prepare the input data with provided values
# input_data = pd.DataFrame({
#     'Customer_Age': [45],
#     'Gender': [1],  # Assuming 1 represents Male
#     'Dependent_count': [3],
#     'Education_Level': [3],  # Assuming 3 represents a specific education level
#     'Marital_Status': [1],  # Assuming 1 represents Married
#     'Income_Category': [2],  # Assuming 2 represents a specific income category
#     'Card_Category': [0],  # Assuming 0 represents a specific card category
#     'Months_on_book': [39],
#     'Total_Relationship_Count': [5],
#     'Months_Inactive_12_mon': [1],
#     'Contacts_Count_12_mon': [3],
#     'Credit_Limit': [12691.0],
#     'Total_Revolving_Bal': [777],
#     'Avg_Open_To_Buy': [11914.0],
#     'Total_Amt_Chng_Q4_Q1': [1.335],
#     'Total_Trans_Amt': [1144],
#     'Total_Trans_Ct': [42],
#     'Total_Ct_Chng_Q4_Q1': [1.625],
#     'Avg_Utilization_Ratio': [0.061]
# })

# 0,45,1,3,3,1,2,0,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061

data = [[45,1,3,3,1,2,0,39]]
# Make a prediction
prediction = clf.predict(data)

# Print the prediction
print(f'Churn Prediction: {prediction[0]}')

Churn Prediction: 8769.368137197569

c:\Users\DARSHAN\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(